.menu-list-box {
    overflow: scroll;
    height  : 900px;
}

.table-menu {
    font-size      : 14px;
    color          : #232323;
    border-collapse: collapse;
}

.table-menu th,
td {
    border : 1px solid #999;
    padding: 4px 6px;
}

.table-menu:hover {
    background-color: #c6cbcc;
}

.table-cart {
    font-size      : 14px;
    color          : #232323;
    border-collapse: collapse;
    width          : 100%;
}

.table-cart th,
td {
    border : 1px solid #999;
    padding: 5px 6px;
}

.table-cart>tr hover {
    background-color: #c6cbcc;
}