<head>
    <title><?= $config['title']; ?></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Cache-Control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="<?= $config['description']; ?>">
    <meta name="keywords" content="<?= $config['keyword']; ?>" />
    <meta name="author" content="<?= $config['author']; ?>">
    <link rel="icon" href="<?= $config['favicon']; ?>">
    <link rel="manifest" href="<?= $config['host']; ?>/manifest.json">
    <!-- Theme Color URL Theme Color untuk Chrome, Firefox OS, Opera dan Vivaldi -->
    <meta name="theme-color" content="#2980B9" />
    <!-- URL Theme Color untuk Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2980B9" />
    <!-- URL Theme Color untuk iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2980B9" />
    <!-- End Theme Color -->

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<?= $config['name']; ?> - <?= $config['pagename']; ?>">
    <meta itemprop="description" content="<?= $config['description']; ?>">
    <meta itemprop="image" content="<?= $config['og_image']; ?>">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<?= $config['host']; ?>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<?= $config['name']; ?> - <?= $config['pagename']; ?>">
    <meta property="og:description" content="<?= $config['description']; ?>">
    <meta property="og:image" content="<?= $config['og_image']; ?>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<?= $config['name']; ?> - <?= $config['pagename']; ?>">
    <meta name="twitter:description" content="<?= $config['description']; ?>">
    <meta name="twitter:image" content="<?= $config['og_image']; ?>">
    <!-- Meta Tags Generated via http://heymeta.com -->

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tab dengan Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Fontaswesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <!-- Pace CSS -->
    <link rel="stylesheet" href=" <?= $config['host']; ?>/assets/css/pace.min.css"">
    <!-- Sweetalert CSS -->
    <link rel=" stylesheet" type="text/css" href="<?= $config['host']; ?>/assets/css/sweetalert.css">
    <!-- W3 CSS -->
    <link rel="stylesheet" href="<?= $config['host']; ?>/assets/external/css/w3.css" />
    <link rel="stylesheet" href="<?= $config['host']; ?>/assets/external/css/w3-flat.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<?= $config['host']; ?>/assets/external/css/style.css" />
    <!-- Datatables CSS -->
    <style>
        .nav-icon {
            margin-left: 0px;
            font-size: 1.2rem;
            margin-right: 5px;
            text-align: center;
            width: 1.6rem;
        }
    </style>
</head>