 <!-- Head Info -->
 <div class="w3-container w3-hide-small w3-hide-medium" style="margin-top: 20px">
     <div class="d-flex float-end">
         <a href="<?= $config['host']; ?>/cart" class="w3-button w3-round-large w3-flat-belize-hole float-end" style="margin-right: 3px; margin-left: 3px;">
             <i class="fas fa-shopping-cart"></i>
             <?php if (isset($_SESSION['cart_cst'])) { ?>
                 <span class="w3-badge w3-margin-left w3-red"><?= count($_SESSION['cart_cst']); ?></span>
             <?php } else { ?>
                 <span class="w3-badge w3-margin-left w3-red">0</span>
             <?php } ?>
         </a>
         <?php if (isset($_SESSION['cst_status']) && ($_SESSION['cst_status'] == 'login')) {  ?>
             <a href="<?= $config['host']; ?>/logout" class="w3-button w3-round-large w3-flat-belize-hole float-end" style="margin-right: 3px; margin-left: 3px;">
                 <i class="fas fa-sign-out-alt"></i> Keluar
             </a>
         <?php } else { ?>
             <a href="<?= $config['host']; ?>/login" class="w3-button w3-round-large w3-flat-belize-hole float-end" style="margin-right: 3px; margin-left: 3px;">
                 <i class="fas fa-sign-in-alt"></i> Masuk
             </a>
         <?php } ?>
     </div>
     <hr style="margin-top: 45px; margin-bottom: 0px;" />
 </div>
 <!-- End Head Info -->

 <!-- Margin -->
 <div class="w3-hide-large w3-hide-medium" style="margin-top: 70px;"></div>
 <div class="w3-hide-small" style="margin-top: 0px;"></div>
 <!-- End Margin -->