<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-flat-belize-hole w3-collapse w3-top w3-large w3-padding" style="z-index: 3; width: 300px; font-weight: bold" id="mySidebar">
    <br />
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width: 100%; font-size: 22px">Close Menu</a>
    <div class="w3-container">
        <h3 style="padding-top: 10px; padding-bottom: 8px;">
            <img class="img-fluid mx-auto d-block" src="<?= $config['host']; ?>/assets/img/logo/logo-white-long-tr-3.png" width="250" height="150">
        </h3>
    </div>
    <div class="w3-bar-block">
        <?php if (isset($_SESSION['cst_status']) && ($_SESSION['cst_status'] == 'login')) { ?>
            <span onclick="w3_close()" class="w3-bar-item"><img src="<?= get_gravatar($_SESSION['cst_email']); ?>" class="img-fluid" style="margin-left: 0px; margin-right: 5px; width: 2.5rem; border-radius: 50%;"> <?= $_SESSION['cst_name']; ?></span>
        <?php } ?>
        <hr style="margin: 0;" />
        <a href="<?= $config['host']; ?>" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-home"></i> Home</a>
        <a href="<?= $config['host']; ?>/menu" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-list"></i> Menu</a>
        <a href="<?= $config['host']; ?>/cart" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-shopping-cart"></i> Keranjang</a>
        <a href="<?= $config['host']; ?>/order" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-shopping-bag"></i> Pesanan</a>
        <a href="<?= $config['host']; ?>/voucher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-ticket-alt"></i> Kupon</a>
        <a href="<?= $config['host']; ?>/profile" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><i class="nav-icon fas fa-user"></i> Profil</a>
        <!-- <a href="#" class="w3-bar-item btn btn-danger">Login</a> -->
        <?php if (isset($_SESSION['cst_status']) && ($_SESSION['cst_status'] == 'login')) { ?>
            <a href="<?= $config['host']; ?>/logout"><button type="button" class="btn btn-outline-primary mt-2" style="margin-left: 15px; background-color: #324ba7; color: blanchedalmond; font-weight: 600">Keluar</button></a>
        <?php } else { ?>
            <a href="<?= $config['host']; ?>/login"><button type="button" class="btn btn-outline-primary mt-2" style="margin-left: 15px; background-color: #324ba7; color: blanchedalmond; font-weight: 600">Masuk</button></a>
        <?php } ?>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-flat-belize-hole w3-xlarge w3-padding">
    <div class="justify-content-around">
        <a href="javascript:void(0)" class="w3-button w3-flat-belize-hole w3-margin-right" onclick="w3_open()">☰</a>
        <span>Warteg Bahari</span>
        <a href="<?= $config['host']; ?>/cart" class="w3-button w3-flat-belize-hole float-end">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="myOverlay"></div>