<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="<?= $config['host']; ?>" class="nav-link">Home</a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="<?= $config['host_admin']; ?>" class="brand-link">
        <img src="<?= $config['host']; ?>/assets/img/logo/logo-blue.png" alt="<?= $config['name']; ?> Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><?= $config['name']; ?></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<?= get_gravatar($_SESSION['emp_email']); ?>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><?= $_SESSION['emp_name']; ?></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="<?= $config['host_admin']; ?>" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-database"></i>
                        <p>
                            Master Data
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-menu-category" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Kategori Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-menu" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-materials" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Bahan Baku</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-voucher" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Kupon</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-customer" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Pelanggan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-employee" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Pegawai</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-shopping-basket"></i>
                        <p>
                            Pesanan
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/create-order" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Buat Pesanan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-order" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <?php
                                $total_order_pending = mysqli_num_rows(mysqli_query($conn, "SELECT * FROM `wrtg_order` WHERE `order_status`='PENDING'"));
                                ?>
                                <p>Kelola Pesanan <span class="badge badge-warning right"><?= $total_order_pending; ?></span></p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-pen"></i>
                        <p>
                            Pencatatan
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-materials-in" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Catat Bahan Baku Masuk</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-materials-out" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Catat Bahan Baku Keluar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-file-alt"></i>
                        <p>
                            Laporan
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/insights" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Insights</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/reports" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Buat Laporan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-finance" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Laporan Keuangan</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-database"></i>
                        <p>
                            Database
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-database" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Optimize Database</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-database" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Backup Database</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Setting
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="<?= $config['host_admin']; ?>/manage-website-config" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Website Config</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="<?= $config['host_admin']; ?>/logout" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Keluar
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>