<!-- jQuery -->
<script src="<?= $config['host_admin']; ?>/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<?= $config['host_admin']; ?>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="<?= $config['host_admin']; ?>/dist/js/adminlte.min.js"></script>
<!-- ChartJS -->
<script src="<?= $config['host_admin']; ?>/plugins/chart.js/Chart.min.js"></script>
<!-- Select2 -->
<script src="<?= $config['host_admin']; ?>/plugins/select2/js/select2.full.min.js"></script>
<!-- DataTables -->
<script src="<?= $config['host_admin']; ?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="<?= $config['host_admin']; ?>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>

<!-- SC -->
<script type="text/javascript" src="<?= $config['host']; ?>/assets/js/fileSaver.js"></script>
<script type="text/javascript" src="<?= $config['host']; ?>/assets/js/tableExport.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<!-- Loading Overlays -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
<script>
    /* Fungsi formatRupiah */
    function formatRupiah(angka, prefix) {
        var number_string = angka.replace(/[^,\d]/g, '').toString(),
            split = number_string.split(','),
            sisa = split[0].length % 3,
            rupiah = split[0].substr(0, sisa),
            ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        // tambahkan titik jika yang di input sudah menjadi angka ribuan
        if (ribuan) {
            separator = sisa ? '.' : '';
            rupiah += separator + ribuan.join('.');
        }

        rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
</script>